/*
---------------------------------------------------------------
[TABLA DE CONTENIDOS]
1. Fuentes de letra
2.- Reset CSS
3.- Estilos Body
4.- Estilos para el NAV
5.- Titulo y lema
6.- Intento de Grid
7.- Galeria {galeria.html}
8.-
9.-
10.-
11.- Footer
---------------------------------------------------------------
*/

/* ==============================
   1. Fuentes de letra
   ============================== */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Permanent+Marker&family=Sacramento&display=swap');

/* ==============================
   2. Reset CSS
   ============================== */

*{
    padding: 0px;
    margin: 0px;
}

/* ==============================
   3. Estilos Body
   ============================== */


body{
    text-align: center;
    background-color: black;
    
}


/* ==============================
   4. Estilos NAV
   ============================== */

   .encabezado ul{
    margin: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}



.encabezado a{
    color: white;
    text-decoration: none;
    
    
}

.encabezado li{
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin:10px; /*Borrar*/
    
}

.encabezado li:after{
    display: block;
    content: "";
    /*
    border-bottom: solid 2px #b90000;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: 300ms ease-in-out;
    */
}

.encabezado a:hover{
    color:#b90000;
    transition: 300ms ease-in;
}

.encabezado li:hover:after{
    transform: scaleX(1);
}

/* ==============================
   5. Titulo y lema
   ============================== */



.titulo{
    font-size: 4rem;
    font-family:'Permanent Marker';
    color: white;
}

.titulo__subtitulo{
    font-size: 3rem;
    font-family:'Permanent Marker';
    color: white;
}

.titulo__texto{
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.9rem;
    margin: 10px;
    color: white;
}

.titulo__lema{
    font-family:'Sacramento', cursive;;
    font-size: 1.5rem;
    margin: 10px;
    color: white;
}



/* ==============================
   6. Intento de grid
   ============================== */

.gridmain{
   /* border: 1px solid red;*/
    display: inline-block;
    width: 100%; height:27rem;
    margin: 100px 0px 20px 0px;
}

.gridmain__gridtest{
    /*border: 1px solid white;*/
    display: inline-block;
    width: 21rem; height: 100%;
    margin: -2px;
}

/* ==============================
   7. Galeria
   ============================== */



.galeria{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px 500px;
    grid-gap: 5px;
    
    
}
/* Bordes para observar la separación de la grilla
.item{
    border: 2px solid #000;
}
*/


.item1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(imagenes/gal1.jpg);
    background-size: cover;
    background-position: center;
}

.item2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(imagenes/gal2.jpg);
    background-size: cover;
    background-position: center;
}

.item3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(imagenes/gal3.jpg);
    background-size: cover;
    background-position: center;
}

.item4{
    grid-column: 4/5;
    grid-row: 1/3;
    background-image: url(imagenes/gal4.jpg);
    background-size: cover;
    background-position: center;
}

.item5{
    grid-column: 2/3;
    grid-row: 2/3;
     background-image: url(imagenes/gal5.jpg);
    background-size: cover;
    background-position: center;
}

.item6{
    grid-column: 3/4;
    grid-row: 2/4;
    background-image: url(imagenes/gal6.jpg);
    background-size: cover;
    background-position: center;
}

.item7{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(imagenes/gal7.jpg);
    background-size: cover;
    background-position: center;
}

.item8{
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(imagenes/gal8.jpg);
    background-size: cover;
    background-position: center;
}

.item9{
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url(imagenes/gal9.jpg);
    background-size: cover;
    background-position: center;
}
*/

/* ==============================
   8. Sobre Nosotros
   - itemSN1 = Historia
   - itemSN2 = Objetivos
   - itemSnMiddle = Banner logo
   - itemSN3 = Nuestra pasión
   - itemSN3 = Nuestra futuro
   Nota: Corregir clases para que sean mejor comprensibles
   ============================== */


.sobreNosotros{
    margin: auto;
    padding: 40px;
    width: 55rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 300px 150px;
    
}

.itemSN1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.itemSN2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.itemSnMiddle{
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url(./imagenes/OshiroSushi.png);
    background-size: cover;
    background-position: center;
}

.itemSN3{
    grid-column: 1/2;
    grid-row: 3/4;
}

.itemSN4{
    grid-column: 2/3;
    grid-row: 3/4;
}

/* ==============================
   9. Form Contacto (Grid)
   - formIzquierda = Formulario
   - formDerecha = Imagen Alusiva
   ============================== */



.formContacto{
    color: white;
    margin: auto;
    padding: 40px;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    grid-gap: 5px;
    
}

.formIzquierda{
    grid-column: 1/2;
    grid-row: 1/2;
}

.formDerecha{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(./imagenes/gal2.png);
    background-size: cover;
    background-position: center;
}

/* ==============================
   10. Ubicacion Oshiro Map
   ============================== */

.oshiroMap{
    width: 60%;
    margin: 15px 0 50px 0;
}



/* ==============================
   11. Footer
   ============================== */

   footer{
    color: white;
    font-size: 10px;
    margin-bottom: 30px;
}